@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Lato);

* {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: black !important;
}

.main-header {
	color: ghostwhite;
	
}
footer h4 {
	color: rgb(240,178,178);
	text-shadow: 1px 1px rgba(0, 0, 0, 1);
}
footer {
	color: darkseagreen;
	text-shadow: 0px 1px rgba(15, 15, 15, 1);
	
	font-size: 1.2em;
}

/*
.navbar {
	background-color: rgb(35, 35, 35) !important;
	background-image: none !important;
	border-color: black !important;
}
	.navbar .navbar-brand {
		color: gainsboro !important;
	}
	.navbar-nav a {
		color: gainsboro !important;
	}
	.navbar-nav a:hover {
		color: orange !important;
	}
	*/

.main-header {
	margin-bottom: 2em;
}

.main-header h1 {
	margin-top: 0.2em;
}

footer {
	padding: 1em;
}
	footer .line {
		color: black;
		background-color: black;
	}
	footer a:link {
	}

.main-color {
	background-color: white;
}

.inactive-color {
	background-color: gainsboro;
}

.padded-top {
	padding-top: 1em;
}

.padded-side {
	padding-left: 1em;
	padding-right: 1em;
}

.padded-bottom {
	padding-bottom: 1em;
}

.shadowed {
	box-shadow: 0px 0px 20px rgba(45, 45, 45, 0.25) !important;
}

body {
	position: relative;
}

body::after {
	content: "";
	position: absolute;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	z-index: -1;
	
	background-image: url("../img/food_truck_art_long.jpg");
	background-repeat: repeat;
	background-size: 100%;
	
	opacity: 0.55;
}