
/* Background image test
body {
	position: relative;
}

body::after {
	content: "";
	position: absolute;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	z-index: -1;
	
	background-image: url("../img/food_truck_catering.jpg");
	
	opacity: 0.08;
	opacity: 1;
}
*/
